In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [9]:
stats = pd.read_csv('seoul-basic-stats.csv')
trash_old = pd.read_csv('Trashcans2023.csv')
trash = pd.read_excel('TrashCans.xlsx')
f_pop = pd.read_csv('스마트서울 도시데이터 센서(S-DoT) 유동인구 측정 정보.csv',encoding = 'cp949') 

f_pop.head()

,모델번호,시리얼,측정시간,지역,자치구,행정동,방문자수,등록일
0,SDOT001,3019,2025-01-05_23:44:00,traditional_markets,Dobong-gu,Chang3(sam)-dong,168,2025-01-05 23:58
1,SDOT001,3015,2025-01-05_23:44:00,traditional_markets,Dobong-gu,Chang3(sam)-dong,124,2025-01-05 23:58
2,SDOT001,3010,2025-01-05_23:44:00,traditional_markets,Dobong-gu,Chang2(i)-dong,159,2025-01-05 23:58
3,SDOT001,3013,2025-01-05_23:44:00,traditional_markets,Dobong-gu,Chang2(i)-dong,171,2025-01-05 23:58
4,SDOT001,2993,2025-01-05_23:43:00,traditional_markets,Dobong-gu,Chang2(i)-dong,156,2025-01-05 23:58

In [17]:
visitor = f_pop.groupby('자치구')['방문자수'].sum().reset_index()
visitor['일별방문자수'] = (visitor['방문자수']/30).astype(int)
visitor.head()
dist_eng = visitor['자치구'].tolist()
dist_eng

['Dobong-gu',
 'Dongjak-gu',
 'Eunpyeong-gu',
 'Gangbuk-gu',
 'Gangdong-gu',
 'Gangnam-gu',
 'Gangseo-gu',
 'Geumcheon-gu',
 'Guro-gu',
 'Gwanak-gu',
 'Gwangjin-gu',
 'Jongno-gu',
 'Jung-gu',
 'Jungnang-gu',
 'Mapo-gu',
 'Nowon-gu',
 'Seocho-gu',
 'Seodaemun-gu',
 'Seongdong-gu',
 'Seoul_Grand_Park',
 'Songpa-gu',
 'Yangcheon-gu',
 'Yongsan-gu']

In [19]:
eng_kor = {'Dobong-gu':'도봉구',
 'Dongjak-gu':'동작구',
 'Eunpyeong-gu':'은평구',
 'Gangbuk-gu':'관악구',
 'Gangdong-gu':'강동구',
 'Gangnam-gu':'강남구',
 'Gangseo-gu':'강서구',
 'Geumcheon-gu':'금천구',
 'Guro-gu':'구로구',
 'Gwanak-gu':'관악구',
 'Gwangjin-gu':'광진구',
 'Jongno-gu':'종로구',
 'Jung-gu':'중구',
 'Jungnang-gu':'중랑구',
 'Mapo-gu':'마포구',
 'Nowon-gu':'노원구',
 'Seocho-gu':'서초구',
 'Seodaemun-gu':'서대문구',
 'Seongdong-gu':'성동구',
 'Seoul_Grand_Park':'서울대공원',
 'Songpa-gu':'송파구',
 'Yangcheon-gu':'양천구',
 'Yongsan-gu':'용산구'}
visitor['자치구'] = visitor['자치구'].replace(eng_kor)
visitor.head()

   자치구     방문자수  일별방문자수
0  도봉구  3396167  113205
1  동작구  4946311  164877
2  은평구    17056     568
3  관악구  1769582   58986
4  강동구  2906029   96867

In [25]:
visitor.rename(columns = {'자치구':'구'}, inplace = True)
visitor.head()

     구     방문자수  일별방문자수
0  도봉구  3396167  113205
1  동작구  4946311  164877
2  은평구    17056     568
3  관악구  1769582   58986
4  강동구  2906029   96867

In [29]:
visitor.to_csv('visitor.csv',index = False,encoding = 'utf-8-sig')